<h2>Seleccione:</h3>
<ul id=dinaguawsclient>
<li><a href="dinaguawsclient/getEstaciones">getEstaciones</li>
<li><a href="dinaguawsclient/getEstaciones2">getEstaciones2</li>
<li><a href="dinaguawsclient/getLast">getLast</li>
<li><a href="dinaguawsclient/getLast2">getLast2</li>
<li><a href="dinaguawsclient/getLecturasAsXML">getLecturasAsXML</li>
<li><a href="dinaguawsclient/getLecturasEstacionFecha">getLecturasEstacionFecha</li>
<li><a href="dinaguawsclient/getLecturasEstacionUltimasMinutos">getLecturasEstacionUltimasMinutos</li>
</ul>
