<h2>Seleccione:</h3>
<ul id=dinaguawsclient>
<li><a href="getEstaciones">getEstaciones</li>
<li><a href="getEstaciones2">getEstaciones2</li>
<li><a href="getLast">getLast</li>
<li><a href="getLast2">getLast2</li>
<li><a href="getLast3">getLast3</li>
<li><a href="getLecturasAsXML">getLecturasAsXML</li>
<li><a href="getLecturasEstacionFecha">getLecturasEstacionFecha</li>
<li><a href="getLecturasEstacionUltimasMinutos">getLecturasEstacionUltimasMinutos</li>
</ul>
