<p><a href=..>Volver al inicio</a></p>
<h3>getEstaciones</h3>
<form method=GET>
	<label for="Username">Username</label>
	<input type=user title="Nombre de usuario" name=Username value={{Username}}></input><br>
	<label for="Password">Password</label>
	<input type=password title="Contraseña" name=Password value={{Password}}></input><br>
	<input type=submit />
</form>
