<p><a href=..>Volver al inicio</a></p>
<h3>getLecturasEstacionUltimasMinutos</h3>
<form method=GET>
	<label for="args0">args0</label>
	<input type=text title="args0" name=args0 value={{args0}}></input><br>
	<label for="args1">args1</label>
	<input type=number title="args1" name=args1 value={{args1}}></input><br>
	<input type=submit />
</form>


