<p><a href=..>Volver al inicio</a></p>
<h3>getLecturasEstacionFecha</h3>
<form method=GET>
	<label for="args0">estacion_id</label>
	<input type=text title="ID de estacion" name=args0 value={{args0}}></input><br>
	<label for="args1">fecha</label>
	<input type=text title="fecha (YYYYMMDD)" name=args1 value={{args1}}></input><br>
	<input type=submit />
</form>
